{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^(@angular)", "<THIRD_PARTY_MODULES>", "^(@tff)", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "overrides": [
    {
      "files": "src/index.html",
      "options": {
        "parser": "html"
      }
    }
  ]
}
